footer{
	background-color: #2e2e2e;
	color: #ffffff;
	padding: 1rem;
}
.strong, .light{
	margin: 0;
}

.quote{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 20px;
	font-style: italic;
}