header{
	background-color: #2e2e2e;
	width: 100%;
	height: 110px;
	position: fixed;
		top: 0;
		right: 0;
	z-index: 100;
	box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
	padding-top: 20px;
}
.language-switch{
	position: absolute;
		top: 5px;
		right: 30px;
}

.language{
	color: #ffffff;
	float: left;
	padding-right: 14px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase; 
	list-style-type: none;
}

.menu-item{
	color: #ffffff;
	float: left;
	padding-right: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-transform: uppercase; 
	list-style-type: none;
}

.menu-item:hover{
	color: #339966;
}

.active{
	color: #339966;
}

#main-menu{
	float: right;
	padding: 1.3rem;
}

.menu-list{
	margin: 0;
}

.toggle-menu{
	width: 30px;
	float: right;
	margin: 10px 30px;
	display: none;
}